target
.idea
*.iml
*.im
*.ipr
*.iws
.gitignore
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
.sts4-cache
*.fmd
.cache
dependency-reduced-pom.xml
kube-cluster/kubernetes
apps/modifiedFabric8.json
git-clones
.vscode
